<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Computación</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/icono_pagina.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="conteiner">
    <!-- Inicio de encabezado-->
    <header class="encabezado">
        <!-- Logo Pagina-->
        
        <div class="encabezado_logo"> 
            <img src="../assets/img/icono_pagina.png" alt="Logo Pagina">
        </div>    
            <!-- Cierre Logo Pagina--> 
            <!-- BUSCADOR-->
        <div class="menu">    
            <div class="encabezado_buscador">
                <form>
                    <input type="text" placeholder="Buscador" class="encabezado_buscador_text">
                    <input type="button" value="L" class="encabezado_buscador_button">
                </form>
            </div>
            <!-- CIERRE DEL BUSCADOR-->
            <!-- INICIO DE NAV-->
            <nav class="encabezado_nav">
                <ul class="encabezado_nav_items">
                    <li ><a href="../index.html" class="encabezado_nav_items_boton">INICIO</a></li>
                    <li ><a href="productos.html"class="encabezado_nav_items_boton">PRODUCTOS</a></li>
                    <li ><a href="servicios.html"class="encabezado_nav_items_boton">SERVICIOS</a></li>
                    <li ><a href="nosotros.html"class="encabezado_nav_items_boton">NOSOTROS</a></li>
                    <li ><a href="preguntasFrecuentes.html"class="encabezado_nav_items_boton">PREGUNTAS FRECUENTES</a></li>
                </ul>
            </nav>
        </div>
        <!-- CIERRE DE NAV-->
        <!-- REDES SOCIALES-->
        <div class="encabezado_redes">
            <a href="https://web.whatsapp.com/" target="_blank" class="encabezado_redes_icon" ><img src="../assets/img/whatsapp.png" alt="Whats app"></a>
            <a href="https://twitter.com/" target="_blank" class="encabezado_redes_icon" ><img src="../assets/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/" target="_blank" class="encabezado_redes_icon"><img src="../assets/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/" target="_blank"class="encabezado_redes_icon" ><img src="../assets/img/facebook.png" alt="Facebook"></a>
        </div>
        <!-- CIERRE REDES SOCIALES-->    
    </header>
    <!-- INICIO DEL CONTENIDO-->
    <main class="main">
        <h1>Contacto</h1>
        <section class="contacto">
            <!-- formulario de contacto -->
            <form action="#" class="contacto_formulario">
                
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" placeholder="Nombre">
                </div>
                <div>            
                    <label for="lastName">Apellido:</label>
                    <input type="text" name="lastName" placeholder="Apellido">
                </div> 
                <div>       
                    <label for="age">Edad:</label>
                    <input type="number" name="age" placeholder="Edad">
                </div>
                <div> 
                    <label for="gender">Sexo:</label>
                    <input type="radio" name="gender" value="man">Hombre
                    <input type="radio" name="gender" value="woman">Mujer
                </div>
                <div>    
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="ejemplo@gmail.com">
                </div>
                <div> 
                    <label for="Observaciones"> Observaciones:</label>
                    <textarea placeholder="Observaciones"></textarea>
                </div>
                <div id="checkbox"> 
                    <label for="acepto">Acepto terminos y condiciones.</label> 
                    <input type="checkbox" name="acepto" value="1">
                </div>    
                <input type="submit" value="Enviar">	
            </form>    
        </section> 
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!-- INICIO DE FOOTER-->
    <footer class="footer">
        <div class="footer_contacto">
            <a href="view/contacto.html">CONTACTO</a>
        </div>
        <div class="footer_autor">
            <p>Copyright © Martin, Juan Ignacio</p>
        </div>
        
    </footer>
    <!-- Cierre DE FOOTER-->
</body>
</html>