<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Computación</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/icono_pagina.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="conteiner">
    <!-- Inicio de encabezado-->
    <header class="encabezado">
        <!-- Logo Pagina-->
        
        <div class="encabezado_logo"> 
            <img src="../assets/img/icono_pagina.png" alt="Logo Pagina">
        </div>    
            <!-- Cierre Logo Pagina--> 
            <!-- BUSCADOR-->
        <div class="menu">    
            <div class="encabezado_buscador">
                <form>
                    <input type="text" placeholder="Buscador" class="encabezado_buscador_text">
                    <input type="button" value="L" class="encabezado_buscador_button">
                </form>
            </div>
            <!-- CIERRE DEL BUSCADOR-->
            <!-- INICIO DE NAV-->
            <nav class="encabezado_nav">
                <ul class="encabezado_nav_items">
                    <li ><a href="../index.html" class="encabezado_nav_items_boton">INICIO</a></li>
                    <li ><a href="productos.html"class="encabezado_nav_items_boton">PRODUCTOS</a></li>
                    <li ><a href="servicios.html"class="encabezado_nav_items_boton">SERVICIOS</a></li>
                    <li ><a href="nosotros.html"class="encabezado_nav_items_boton">NOSOTROS</a></li>
                    <li ><a href="preguntasFrecuentes.html"class="encabezado_nav_items_boton">PREGUNTAS FRECUENTES</a></li>
                </ul>
            </nav>
        </div>
        <!-- CIERRE DE NAV-->
        <!-- REDES SOCIALES-->
        <div class="encabezado_redes">
            <a href="https://web.whatsapp.com/" target="_blank" class="encabezado_redes_icon" ><img src="../assets/img/whatsapp.png" alt="Whats app"></a>
            <a href="https://twitter.com/" target="_blank" class="encabezado_redes_icon" ><img src="../assets/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/" target="_blank" class="encabezado_redes_icon"><img src="../assets/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/" target="_blank"class="encabezado_redes_icon" ><img src="../assets/img/facebook.png" alt="Facebook"></a>
        </div>
        <!-- CIERRE REDES SOCIALES-->    
    </header>
    <!-- INICIO DEL CONTENIDO-->
    <main class="main">
        <div class="nosotros_sobre">
            <h3>SOBRE NOSOTROS</h3>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid iusto placeat voluptas ratione odit,
               eveniet dicta et quia neque aut dignissimos possimus? Voluptate asperiores, aliquam veniam nihil inventore animi.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid iusto placeat voluptas ratione odit,
               eveniet dicta et quia neque aut dignissimos possimus? Voluptate asperiores, aliquam veniam nihil inventore animi.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio veritatis beatae reprehenderit 
               voluptatibus aliquam ab, quam illum autem obcaecati nesciunt ad quisquam ut numquam praesentium? Quia quas expedita ducimus.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae distinctio veritatis beatae reprehenderit 
               voluptatibus aliquam ab, quam illum autem obcaecati nesciunt ad quisquam ut numquam praesentium? Quia quas expedita ducimus.
            </P>
            <div class="nosotros_sobre_imagen">
                <img src="../assets/img/arreglandoPc.jpg" alt="Arreglando PC">
            </div> 
        </div>  
        <div class="nosotros_donde_estamos">
            <h3>¿DONDE ESTAMOS?</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6562.967616117329!2d-58.368219!3d-34.667737!3m2
            !1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe771f022c22a954b!2sEstadio%20Presidente%20Per%C3%B3n!5e0!3m2!1ses-419!2sar!4v16
            43160000874!5m2!1ses-419!2sar" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <p>Direccion: Diego A. Milito, B1870 Avellaneda, Provincia de Buenos Aires.<br>
                Telefono: 91 642 32 16<br>
                Fax: 91 642 32 47            
            </p>
        </div> 
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!-- INICIO DE FOOTER-->
    <footer class="footer">
        <div>
            <a  class="footer_contacto" href="view/contacto.html">CONTACTO</a>
        </div>
        <div>
            <h5>DESARROLLADO CON</h5>
            <p>
                <img src="../assets/img/html5-css.png" alt="Creado con html y Css">
            </p>
        </div>    
        <div>
            <h5>OPTIMISADO PARA</h5>
            <a href="#">
                <img src="../assets/img/firefox-icon.png" alt="firefox" title="Firefox">
            </a>
            <a href="#">
                <img src="../assets/img/chrome.png" alt="chrome" title="Chrome">
            </a>
            <a href="#">
                <img src="../assets/img/safari.png" alt="safari" title="Safari">
            </a>
            <a href="#">
                <img src="../assets/img/Opera_256x256.png" alt="opera" title="opera">
            </a>
            <a href="#">
                <img src="../assets/img/android.png" alt="android" title="android">
            </a>
            
        </div> 
        <div>
            <h5>AUTOR</h5>
            <p> Copyright © Martin, Juan Ignacio</p>
        </div>
    </footer>
    <!-- Cierre DE FOOTER-->
</body>
</html>